* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

html.max {
  padding: 2px;
  padding-bottom: 0;
}

body {
  font-family: Arial;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: royalblue;
}

a:active,
a:hover {
  color: darkblue;
}

#add-repo-dropdown {
  margin-left: 20px;
}

#add-repo-dropdown > div {
  min-width: 550px;
}

#add-repo-dropdown form {
  padding: 0 25px;
  padding-bottom: 20px;
}

#add-repo-dropdown form > field-group {
  margin-top: 20px;
}

#add-repo-dropdown input {
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 1px 2px;
}

sidebar > filter {
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 15px;
}
